@import "../../../styles/mediaQuery";

.section__two {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  height: 200px;

  .logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    animation: marquee 32s linear infinite;
    height: 188px;

    .press__logo {
      opacity: 0;
    }

    @include breakpoint(768) {
      animation: marquee 12s linear infinite;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
