@import "../../../styles/variables";
@import "../../../styles/mediaQuery";

.section__five {
  padding-top: 173px;
  padding-bottom: 200px;

  .top__contents {
    display: flex;
    flex-direction: column;
    margin-left: 130px;

    @include breakpoint(768) {
      margin: unset;
      margin-left: 40px;
    }

    h2 {
      font-family: $primary-font;
      font-size: 64px;
      font-weight: 800;
      line-height: 83.2px;
      text-transform: uppercase;
      margin-bottom: 20px;
      overflow: hidden;

      @include breakpoint(1024) {
        font-size: 40px;
        line-height: 60px;
      }

      @include breakpoint(768) {
        font-size: 22px;
        line-height: 30px;
      }

      span {
        display: block;
        opacity: 0;
        transform: translateY(30px);
      }
    }
  }

  .swiper {
    .slide__card {
      display: flex;
      opacity: 0;
      transform: translateY(50px);
      justify-content: center;
      align-items: center;

      .card__holder {
        margin-top: 146px;

        @include breakpoint(340) {
          margin-top: unset;
          margin: 146px auto 0px auto;
        }

        .card {
          width: 825px;
          height: 450px;
          border: 1px solid $primary-color;
          border-radius: 50px;
          display: flex;
          align-items: center;
          flex-direction: column;
          position: relative;

          @include min-breakpoint(1440) {
            width: 825px !important;
          }

          @include min-breakpoint(1200) {
            width: 580px;
          }

          @include breakpoint(1200) {
            width: 580px;
          }

          @include breakpoint(1130) {
            width: 558px;
          }

          @include breakpoint(1024) {
            width: 500px;
            height: 450px;
          }

          @include breakpoint(768) {
            width: 245px;
            height: 450px;
          }

          img {
            position: absolute;
            top: -150px;

            @include breakpoint(1024) {
              height: 180px;
              top: -125px;
            }

            @include breakpoint(768) {
              height: 140px;
              top: -100px;
            }
          }

          h3 {
            font-family: $primary-font;
            font-size: 38px;
            font-weight: 800;
            line-height: 49.4px;
            text-transform: uppercase;
            margin-top: 172px;
            margin-bottom: 30px;
            pointer-events: none;

            @include min-breakpoint(1440) {
              font-size: 38px !important;
            }

            @include min-breakpoint(1200) {
              font-size: 32px;
            }

            @include breakpoint(1200) {
              font-size: 32px;
            }

            @include breakpoint(1130) {
              font-size: 28px;
            }

            @include breakpoint(1024) {
              margin-top: 55px;
              font-size: 26px;
              line-height: unset;
              margin-bottom: 10px;
            }

            @include breakpoint(768) {
              font-size: 16px;
              text-align: center;
            }
          }

          .list {
            display: flex;
            pointer-events: none;

            @include breakpoint(1024) {
              flex-direction: column;
            }

            li {
              margin-right: 40px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              &:nth-child(4) {
                margin-right: unset;
              }

              @include min-breakpoint(1440) {
                margin-right: 40px !important;
              }

              @include min-breakpoint(1200) {
                margin-right: 20px;
              }

              @include breakpoint(1200) {
                margin-right: 20px;
              }

              @include breakpoint(1130) {
                margin-right: 12px;
              }

              @include breakpoint(1024) {
                margin: unset;
              }

              @include breakpoint(768) {
                margin: unset;
              }
            }

            .bold {
              font-family: $primary-font;
              font-size: 32px;
              font-weight: 800;
              line-height: 41.6px;

              @include min-breakpoint(1440) {
                font-size: 32px !important;
              }

              @include min-breakpoint(1200) {
                font-size: 26px;
              }

              @include breakpoint(1200) {
                font-size: 26px;
              }

              @include breakpoint(1130) {
                font-size: 24px;
              }

              @include breakpoint(768) {
                font-size: 18px;
              }
            }

            .regular {
              font-family: $secondary-font;
              font-weight: 400;
              font-size: 16px;
              line-height: 22.4px;

              @include min-breakpoint(1440) {
                font-size: 16px !important;
              }

              @include min-breakpoint(1200) {
                font-size: 12px;
              }

              @include breakpoint(1200) {
                font-size: 12px;
              }

              @include breakpoint(1130) {
                font-size: 12px;
              }

              @include breakpoint(1024) {
                font-size: 14px;
              }

              @include breakpoint(768) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: "";
    }
  }

  .new-swiper-btns {
    display: flex;
    opacity: 0;

    .swiper-new-button-prev {
      width: 65px;
      height: 65px;
      margin-right: 30px;

      @include breakpoint(768) {
        width: 35px;
        height: 35px;
        margin-right: 20px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &:hover svg .rect__hover {
        stroke-dasharray: 227;
        stroke-dashoffset: 0;
        animation-iteration-count: infinite;
        animation-name: rotate;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-timing-function: linear;
      }

      @keyframes rotate {
        to {
          stroke-dashoffset: 227;
        }
      }
    }
    .swiper-new-button-next {
      width: 65px;
      height: 65px;

      @include breakpoint(768) {
        width: 35px;
        height: 35px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &:hover svg .rect__hover {
        stroke-dasharray: 227;
        stroke-dashoffset: 0;
        animation-iteration-count: infinite;
        animation-name: rotate;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-timing-function: linear;
      }

      @keyframes rotate {
        to {
          stroke-dashoffset: 227;
        }
      }
    }
  }

  .bitcoin__cta {
    font-family: $primary-font;
    color: $primary-color;
    text-transform: uppercase;
    border: 1px solid $primary-color;
    padding: 13px 30px;
    font-size: 16px;
    line-height: 20.6px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: $primary-color;
    color: $default-color;
    transition: background 0.5s;

    &:hover {
      background: rgb(150, 118, 153);
    }

    @include breakpoint(1024) {
      margin-top: 15px;
      padding: 10px 15px;
      font-size: 14px;
    }

    @include breakpoint(768) {
      margin-top: 15px;
      padding: 5px 13px;
      font-size: 12px;
    }

    span:first-child {
      margin-right: 20px;

      @include breakpoint(1024) {
        margin-right: 16px;
      }
    }

    span {
      svg {
        width: 37px;
        height: 24px;

        @include breakpoint(1024) {
          width: 22px;
          height: 24px;
        }
      }
    }
  }
}
